#nav-elment{
  width: 85vw !important;
  display: flex;
  align-items: center;
  margin: 10px;
  border-bottom: 1px solid ;
  border-color: #DDE5EA;
  gap: 25px;
  padding: 0px 20px 0px 20px;
  border-radius: 0px 0px 1px 0px;
  
}
#nav-elment  h2
{
  font-size: 20px;
  color: #1c4980;
}
#nav-elment  h3
{
  font-size: 16px;
  color: #0073e6;
  padding-bottom: 20px;
  padding-top: 26px;

 
}
.line{
  background-color:#DDE5EA;
  padding: 1px;
  height: 30px;
  
 
}
#blue_line{
  padding: 2px;
  background-color: #0073e6;
 
}
.normal-view-container{
  display: flex;
}
#sideNavbar{
  display: inline-flex;
flex-direction: column;
padding: 16px 20px 20px 30px;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
margin-top: 15px;
height: 992px;
}
#libaryBox > p{
  color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}
#assessmentBox > p{
  color: var(--secondary-1, #0073E6);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%
}
#DashbordBox > p{
  color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}

#assessmentBox{
  display: inline-flex;
flex-direction: column;
align-items: center;
width: 90px;
height: 70px;
padding: 10px 20px;
gap: 6px;
border-radius: 8px;
border: 1px solid var(--secondary-1, #0073E6);
background: #E5F1FC;
}
#DashbordBox{
  display: inline-flex;
flex-direction: column;
align-items: center;
width: 90px;
height: 70px;
padding: 10px 20px;
gap: 6px;
}
#libaryBox{
  display: inline-flex;
flex-direction: column;
align-items: center;
width: 90px;
height: 130px;
padding: 10px 5px;
gap: 6px;
border-bottom: 2px dotted #BACBD5;
}
#RoundStatusBox{
  display: inline-flex;
flex-direction: column;
align-items: center;
width: 90px;
height: 70px;
padding: 10px 20px;
gap: 6px;

}
#RoundStatusBox> p{
  color: var(--text-100, #1C4980);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}
#admin{
  display: flex;
height: 18px;
padding: 6px 8px;
align-items: center;
gap: 6px;
  color: var(--accent-new-red, #D63500);
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 22px;
border: 1px solid var(--accent-new-red, #D63500);
background: var(--accent-red-light, #FBEBEA);
}
#headingAssigmentOverview{
  color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}
#assignemntContainer{
  display: flex;
align-items: flex-start;
gap: 1px;
border-radius: 12px;
border: 1px solid var(--system-stroke-2, #DADCE0);

}
#TotalAssessmet{
  display: flex;
width: 162px;
padding: 16px 20px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex-shrink: 0;
align-self: stretch;
border-right: 1px  solid var(--system-stroke-2, #DADCE0);;
}
.assignmentBox{
  display: flex;
align-items: center;
justify-content: center;
gap: 10px;

}
#TotalAssessmet> h4{
  color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}
.boxIcons{
  background-color: #EBE8FD;
 border-radius: 10px;
padding: 8px;
}
.assignmentBox > p{
  color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 140%;
}
#Candidate >h4 {
  color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}
#Candidate{
  display: flex;
padding: 16px 20px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;
align-self: stretch;
border-right: 1px  solid var(--system-stroke-2, #DADCE0);
}
.CadidateBox{
  display: flex;
align-items: center;
gap: 20px;
justify-content: center;
}
.numbers{
  color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 140%; 
margin-bottom: 0px;
}
span{
  text-align: center;
  color: var(--status-success, #05C165);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}
.TotalCandidate{
  padding-right: 30px;
  text-align: center;

}
.subheading{
  color: #1C4980;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}
#CandidateScore > h4{
  color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 140%;
}
#CandidateScore{
  display: flex;
width: 499px;
padding: 16px 20px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex-shrink: 0;
align-self: stretch;
border-right: 1px  solid var(--system-stroke-2, #DADCE0);
}
.CandidatesSourcebox{
  display: flex;
  justify-content: center;
align-items: center;
gap: 20px;
}
#totalPurpose >h4{
  color: var(--text-100, #1C4980);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
#totalPurpose {
  display: flex;
width: 188px;
padding: 16px 50px 16px 20px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex-shrink: 0;
align-self: stretch;
}
.linkPurpose{
  display: flex;
align-items: center;
gap: 10px;
}
#MyAssessmentHeading{

color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}
#assessentContainer{
  display: flex;
width: 1224px;
align-items: flex-start;
gap: 30px;
}
.NewAssessmentBox{
  display: flex;
padding: 30px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12px;
flex: 1 0 0;
align-self: stretch;
border-radius: 12px;
border: 1px dashed var(--system-stroke-2, #DADCE0);
background: var(--system-background, #F6F8FA);
}
.addAssigmnetButton{
  display: flex;
width: 70px;
height: 70px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 72px;
background: #FFF;
}
.subHeadNewAssigemnt> h4{
  color: var(--text-100, #1C4980);
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.subHeadandInfo > p{
  color: var(--text-100, #1C4980);
text-align: center;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
align-self: stretch;
}
.mathAssessment{
  display: flex;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;
align-self: stretch;
border-radius: 12px;
border: 1px solid var(--system-stroke-2, #DADCE0);
background: var(--text-white, #FFF);
}
.upperBox{
  display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}
.MathAssessmentbox{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 10px;
}
.blank_box{
  display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}
.MathAssessmentbox > h4{
  color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}
.JobBox{
  display: flex;
align-items: center;
gap: 10px;
text-align: center;
}
.job{
  color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 19.6px */
width: 26px;
height: 20px;
}
.date{
  color: var(--primary-50, #8DA4BF);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.lowerbox{
  border-top: 1px dashed var(--system-stroke-2, #DADCE0);
  display: flex;
  padding: 10px 0px 10px 0px;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.Duration{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: -1px;
}
.QuestionsNumber{
  color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 140%; 
}
.Qsubhead{
  color: var(--text-100, #1C4980);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.DurationNumber{
  color: var(--text-100, #1C4980);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; 
}
.Dsubhead{
  color: var(--text-100, #1C4980);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.Sharebutton{
  display: flex;
height: 30px;
padding: 2px 8px 2px 6px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 50px;
border: 1px solid var(--text-100, #1C4980);
background: var(--text-white, #FFF);
}
.Sharebutton  div{
  color: #1C4980;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; 
}
.userLogo{
  display: flex;
width: 30px;
height: 30px;
padding: 5px 6px;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 10px;  
border-radius: 32.728px;
border: 1px solid var(--text-white, #FFF);
background: var(--pastel-neon-blue, #6548EE);
color: white;
}
#CreateAssigment{
  display: flex;
height: 70px;
padding: 30px;
justify-content: space-between;
align-items: center;
align-self: stretch;
border-radius: 8px 8px 0px 0px;
border: 1px solid var(--system-stroke-2, #DADCE0);
background: #FFF;
}
#CreateAssigment  div{
  color: var(--text-100, #1C4980);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
#form{
  display: flex;
padding: 20px 30px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
border: 1px solid var(--system-stroke-2, #DADCE0);
background: #FFF;
}
.nameOfAssessement{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.nameOfAssessement label{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
align-self: stretch;
color: var(--text-100, #1C4980);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.nameOfAssessement input{
  display: flex;
height: 50px;
padding: 15px;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 8px;
border: 1px solid var(--system-stroke-2, #DADCE0);
background: #FFF;
outline: none;
}
.purposeOftest{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.purposeOftest label{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
align-self: stretch;
color: var(--text-100, #1C4980);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.purposeOftest select{
  display: flex;
height: 50px;
padding: 15px;
justify-content: space-between;
align-items: center;
align-self: stretch;
border-radius: 8px;
border: 1px solid var(--system-stroke-2, #DADCE0);
background: #FFF;
color: var(--text-100, #1C4980);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.Description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.Description label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  color: var(--text-100, #1C4980);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
}
.Description select{
  display: flex;
height: 50px;
padding: 15px;
justify-content: space-between;
align-items: center;
align-self: stretch;
border-radius: 8px;
border: 1px solid var(--system-stroke-2, #DADCE0);
background: #FFF;
color: var(--text-100, #1C4980);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.Skills{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.Skills label{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
align-self: stretch;
color: var(--text-100, #1C4980);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.box_of_skills{
  display: flex;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
border-radius: 8px 8px 0px 0px;
border: 1px solid var(--system-divider, #DDE5EA);
}
.Skills input{
  display: flex;
height: 50px;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
border-radius: 0px 0px 8px 8px;
border: 1px solid var(--system-divider, #DDE5EA);
color: var(--text-100, #1C4980);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
outline: none;
}
.DurationOFAssessment{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.DurationOFAssessment label{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
align-self: stretch;
color: var(--text-100, #1C4980);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.DurationOFAssessment input{
  display: flex;
  
height: 50px;
padding: 15px;
justify-content: space-between;
align-items: center;
align-self: stretch;
border-radius: 8px;
border: 1px solid var(--system-stroke-2, #DADCE0);
background: #FFF;
outline: none;
}
.Submit_div{
  display: flex;
padding: 20px 30px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 20px;
align-self: stretch;
border-radius: 0px 0px 8px 8px;
border-right: 1px solid var(--system-stroke-2, #DADCE0);
border-bottom: 1px solid var(--system-stroke-2, #DADCE0);
border-left: 1px solid var(--system-stroke-2, #DADCE0);
background: #FFF;
box-shadow: 0px -4px 50px 0px rgba(0, 0, 0, 0.09);
}
#submit{
display: flex;
height: 40px;
padding: 10px 30px;
justify-content: center;
align-items: center;
gap: 4px;
align-self: stretch;
border-radius: 8px;
background: var(--secondary-1, #0073E6);
border: none;
color: white;
}
.popup-container {
  margin: auto;
  background: white;
  width: 40%;
  position: fixed;
  right: 25%;
  bottom: 10px;
  z-index: 2; /* Higher z-index to display above the overlay */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add shadow to the popup */
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Black tint with transparency */
  z-index: 1; /* Lower z-index to be behind the popup */
}

@keyframes slideUpFromBottom {
  from {
      transform: translateY(100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

/* Apply the animation to the popup-container when it's visible */
.animation-slide-up {
  animation: slideUpFromBottom 0.5s ease;
}
.Assessmentphone{
  display: flex;
width: 100%;
height: 50px;
padding: 0px 15px;
gap: 20px;
align-items: center;
background: #FFF;
}
.sidemenubutton{
  display: flex;
width: 40px;
height: 40px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 5px;
border-radius: 60px;
background: var(--secondary-5, #F2F8FE);
}
.HeadingPhone h3{
  color: var(--text-100, #1C4980);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.LowerBoxPhone{
  display: flex;
  width: 100%;
  background: #FFF;
  
}
.myAssessemetPhone{
  display: flex;
height: 50px;

padding: 10px 0px;
justify-content: center;
align-items: center;
gap: 10px;
flex: 1 0 0;
border-bottom: 2px solid var(--secondary-1, #0073E6);
background: #FFF;
}
.UnStopAssessemetPhone{
  display: flex;
height: 50px;

padding: 10px 0px;
justify-content: center;
align-items: center;
gap: 10px;
flex: 1 0 0;
border-bottom: 2px solid var(--system-background, #F6F8FA);
background: #FFF;
}
.UnStopAssessemetPhone h4{
  color: var(--text-85, #3E6493);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.myAssessemetPhone h4{
  color: var(--secondary-1, #0073E6);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.MyAssessmentSection{
  display: flex;
width: 345px;
justify-content: space-between;
align-items: center;
}
.headingP{
  color: var(--text-100, #1C4980);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.searchIcon{
  display: flex;
  width: 40px;
  height: 40px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
background: var(--text-white, #FFF);
}
.FilterIcon{
  display: flex;
  width: 40px;
  height: 40px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
background: var(--text-white, #FFF);
}
.BarChatIcon{
  display: flex;
  width: 40px;
  height: 40px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
background: #FFF;
}

#PhonemainCntainer{
  display: flex;
  width: 100%;

  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  flex-direction: column;

  gap: 20px;
  background: #FFF;
}
.AssessmentConatinerPhone{
  display: flex;
width: 345px;
flex-direction: column;
align-items: flex-start;
gap: 15px;
}
.PNewAssessmentBox{
  display: flex;
padding: 20px 30px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12px;
align-self: stretch;
border-radius: 12px;
border: 1px dashed var(--system-stroke-2, #DADCE0);
background: var(--system-background, #F6F8FA);
}
.PaddAssigmnetButton{
  display: flex;
width: 50px;
height: 50px;
padding: 7.143px;
justify-content: center;
align-items: center;
gap: 7.143px;
border-radius: 51.429px;
background: #FFF;
}
.PsubHeadNewAssigemnt h4{
  color: var(--text-100, #1C4980);
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.PsubHeadandInfo{
  color: var(--text-100, #1C4980);
text-align: center;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
align-self: stretch;
}

.phone-container{
  margin: auto;
  display: none;
}
.uperOverview{
  display: flex;
  gap: 5px;
  border-bottom: 1px solid #DDE5EA;

}
.TotalAssessmentPhone{
  display: flex;
padding: 10px 14px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-right: 1px solid #DDE5EA;

}
.TotalAssessmentPhone h4{
  color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
}
#TotalContainerPhonebox{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 40px;
height: 40px;
padding: 10px;
  border-radius: 8px;
background: var(--accent-purple-light, #EBE8FD);
}
.TotalPurposePhone{
  display: flex;
padding: 10px 14px;
flex-direction: column;
align-items: flex-start;
gap: 10px;

}
.TotalContainerPhone{
  display: flex;
align-items: center;
gap: 10px;

}
.TotalContainerPhone  div{
  color: var(--text-100, #1C4980);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#OverviewContainer{
  display: flex;
width: 90%;
flex-direction: column;

gap: 10px;
  border: 1px solid #DDE5EA;
  border-radius: 22px;
}
.TotalContainerPhone div{
  color: var(--text-100, #1C4980);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.TotalPurposePhone h4{
  color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
}
.navbarP{
  width: 100%;
}
.popup-container-child{
  margin: auto;
  background: white;
  width: 40%;
  position: fixed;
  right: 25%;
  bottom: 0;
  border-radius: 25px;
  animation: slideup .5s ease-in-out;
}
.midOverview{
  background: #FFF;
  display: flex;
padding: 10px 14px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
border-bottom: 1px solid #DDE5EA;
}
.midOverview h4{
  color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
}
.CandidateContainerPhone{
  display: flex;
align-items: center;
gap: 14px;
}
.lowerOverview{
  display: flex;
padding: 10px 14px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
background: #FFF;
border-radius: 25px;
}
.lowerOverview h4{
  color: var(--text-100, #1C4980);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
}
.CandidatescoreConatinerPhone{
  display: flex;
align-items: center;
gap: 10px;
}
@keyframes slideup{
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0);
  }
}


@media screen and (max-width: 550px) {
  .phone-container{
    display: block;
  }

  .normal-view-container{
    display: none;
  }
}